@font-face {
  font-family: Inter;
  font-display: swap;
  src: url(../fonts/Inter/Inter.ttf);
}

@font-face {
  font-family: Inter;
  font-display: swap;
  font-style: italic;
  src: url(../fonts/Inter/Inter_Italic.ttf);
}

:root {
  --primary-background-color: #101015;
  --text-color-primary: #888888;
  --text-color-placeholder: #666;
}

body {
  font-size: 20px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  background-color: var(--primary-background-color);
  margin: 0px;
}

#editor {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 50%;
  margin: 3em;
  font-family: Inter, Arial, Helvetica, sans-serif;
  outline: none;
  line-height: 1.25em;
  color: var(--text-color-primary);
}

#editor > #initial-paragraph:empty::before {
  content: "Start writing";
  pointer-events: none;
  user-select: none;
  color: var(--text-color-placeholder);
}

#editor > #initial-paragraph[data-empty]:empty::before {
  content: "";
}

/* Paragraphs must have some height to be focused on, or else it's impossible to focus on them */
#editor > p {
  min-height: 1em;
}
